/* h1 span {
    color: green;
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1rem;
    }
} */